.buttons button {
    margin: 10px 8px;
    background-color: #abedf1;
    border-radius: 40px;
    cursor: pointer;
    max-width: 30%;
}

.buttons button.cancel {
    margin-right: 8px;
    background-color: #f1abab;
    border-radius: 40px;
}
.buttons button.cancel:hover {
    margin-right: 8px;
    background-color: #f77361;
    border-radius: 40px;
}
.buttons button.create {
    margin-right: 8px;
    background-color: #bbf1ab;
    border-radius: 40px;
}
.buttons button.create:hover {
    margin-right: 8px;
    background-color: #8af36a;
    border-radius: 40px;
}

.buttons .active {
    background-color: #8af36a;
}
.modal {
    border-radius: 5px;
    background-color: #fae4e4;
    padding: 10px;
}
.modal input {
    width: 60%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal input[type="radio"] {
    height: 10px;
    top: 1px;
    width: 20px;
}

ul {
    padding: 5px;
    margin: 0;
    text-align: justify;
    align-items: start;
    justify-content: space-between;
    width: 80%;
}

li {
    text-align: justify;
    display: inline;
    margin: auto;
    padding: 5px;
    width: 100%;
}


/* --- Tree --- */
.main-table {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    background: #f8faff;
    color: #000000;
    position: relative;
    display: flex;

}
td.nested-table {
    margin-left: 20px;
    background: #f8faff;
    color: #27292b;
    display: block;
	position: absolute;
    padding: 20px 40px;
    border: 1px solid black;
    display: block; 
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #abedf1;
    color: rgb(34, 34, 34);
}

table tr {
    background-color: #dfece0;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  