<section class="content" ng-controller="ChannelsCtrl">

    <span>This tab shows the channels that was asked in Front-end challenge, here you can crete, update and delete a channel and see your children</span>
    <div ng-show="openCreateModal==false" class="buttons">
        <button ng-click="openCreateModal=true">Create new channel</button>
    </div>

    <div class="modal" ng-show="openCreateModal">
        {% include 'modals/__createChannel.html' %}
    </div>

    <div class="modal" ng-show="openEditModal">
        {% include 'modals/__editChannel.html' %}
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Users</th>
                <th>Parent</th>
                <th>Percent</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="main-table" ng-repeat="channel in channels track by $index" ng-include="'tree_item_renderer.html'"></tbody>
    </table>

</section>

<script type="text/ng-template" id="tree_item_renderer.html">
    <tr>
        <td style="cursor: pointer;" ng-click="viewChildren(channel.id)"><span ng-if="channel.children.length > 0">&#10148;</span></td>
        <td>{[ channel.name ]}
            <div ng-show="treeIds.includes(channel.id)">
                <table>
                    <tbody class="main-table" ng-repeat="channel in channel.children" ng-include="'tree_item_renderer.html'"></tbody>
                </table>
            </div>
        </td>
        <td><span>{[ channel.users ]}</span></td>
        <td><span>{[ channel.parent ]}</span></td>
        <td><span>{[ channel.percent ]}</span></td>
        <td><span>{[ channel.status ]}</span></td>
    </tr>
</script>