<section class="content" ng-controller="SitesCtrl">
    <span>This tab shows the sites that was asked in Back-end challenge, here you can crete, update and delete a site</span>
    <div ng-show="openCreateModal==false" class="buttons">
        <button ng-click="openCreateModal=true">Create new site</button>
    </div>

    <div class="modal" ng-show="openCreateModal">
        {% include 'modals/__createSite.html' %}
    </div>

    <div class="modal" ng-show="openEditModal">
        {% include 'modals/__editSite.html' %}
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Urls</th>
                <th>Categories</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="site in sites track by $index">
                <td>{[ site.id ]}</td>
                <td>{[ site.name ]}</td>
                <td><span ng-repeat="url in site.urls | split:';'"> {[ url ]}</span></td>
                <td><span ng-repeat="category in site.categories | split:';'"> {[ category ]}</span></td>
                <td>{[ site.status ]}</td>
                <td ng-click="editModal(site)"><button>Edit</button></td>
                <td ng-click="deleteSite(site.id)"><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</section>