<h4>Create Site Modal</h4>
<form id="createChannel" class="create">
    <label>
        <span>Name: </span>
        <input name="name" ng-model="createChannel.name" type="text" placeholder="Channel name">
    </label><br>
    <label>
        <span>Users: </span>
        <input name="users" ng-model="createChannel.users" type="number" placeholder="Users (visitors)">
    </label><br>
    <label>
        <span>Parent ID: </span>
        <input name="parent" ng-model="createChannel.parent" type="number" placeholder="Parent ID (if no parent leave it blank)">
    </label><br>
    <label>
        <span>Percent: </span>
        <input name="percent" ng-model="createChannel.percent" type="number" placeholder="Percent">
    </label><br>
    <label>
        <span>Status: </span>
        <label>
            <input name="status" ng-model="createChannel.status" type="radio" value="Active">
            Active
        </label>
        <label>
            <input name="status" ng-model="createChannel.status" type="radio" value="Inactive">
            Inactive
        </label>
    </label><br>

    <div class="buttons">
        <button class="create" ng-click="createNewChannel()">Create</button>
        <button class="cancel" ng-click="openCreateModal=false">Cancel</button>
    </div>
</form>